.badge {
  background-color: tomato;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 11px;
  font-weight: 400;
  left: 15px;
  bottom: 10px;
}

.new__holder {
  position: relative;
}

.nav__new {
  background-color: tomato;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -5px;
  top: 0px;
}
